@use "@styles/tokens" as *;

.taskBoardStage {
    background-color: $background-color-standard-200;
    padding: $spacing-xs;

    .title {
        margin: 0;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
